<% for(var i=0; i<this.length; i++){ %>
<div class="row-fluid">
	<div class="span12">
		<span class="badge badge-success" rel="tooltip" title="Number of forks"><%= this[i].forks %></span>
		<strong><a href="<%= this[i].url %>"><%= this[i].name %></a></strong><em><%= (this[i].description !== null) ? " - " + this[i].description : "" %></em>
	</div>
	<% if(this[i].language !== null) { %>
	<div class="span12">
		<span class="label label-info"><%= this[i].language %></span>
	</div>
	<% } %>
	<div class="span8">
		<div class="span4">
			<span class="date"><i class="icon-asterisk"></i><%= moment(this[i].created_at).format("MMM Do, YYYY") %></span>
		</div>
		<div class="span4">
			<span class="date">
				<i class="icon-refresh"></i><%= moment(this[i].updated_at).fromNow() %>
			</span>
		</div>
	</div>
</div>
<% } %>