<section class='span8'>
	<% for(var i=0; i<this.items.length; i++){ %>

		<h1><%= this.items[i].title %></h1>

		<% for(var j=0; j<this.items[i].items.length; j++) { %>
			<p class="feedentry">
				<span class="publishDate"><%= moment(this.items[i].items[j].publishedDate).fromNow() %></span>
				<a href="<%= this.items[i].items[j].link %>"><%= this.items[i].items[j].title %></a>&nbsp;<%= (this.items[i].items[j].description && this.items[i].items[j].description !== "") ? " - " + this.items[i].items[j].description : "" %>
			</p>
		<% } %>
	<% } %>
</section>
